In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import scipy.signal
import numpy as np
import seaborn as sns
plt.rcParams["figure.figsize"]=[15,5]

In [2]:
raw_sp = pd.read_csv('sp_jan.csv', usecols =['timestamp', 'data.A1'])
raw_sp['timestamp'] =  pd.to_datetime(raw_sp['timestamp'])

In [3]:
test_sp=raw_sp
sptimethresh=12

In [4]:
#Get boards from Screenprinter
test_sp=test_sp[['data.A1','timestamp']]
# events=scipy.signal.find_peaks(test_sp['data.A1'], height=(2.22, 5), width=1)

In [5]:
test_sp['sum']=pd.Series.to_frame(test_sp['data.A1'].rolling(12, center=True).sum())

/home/raghu/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [6]:
%matplotlib qt

In [21]:
plt.plot(test_sp['timestamp'], test_sp['sum'])
plt.plot(test_sp['timestamp'], test_sp['data.A1']*10)

In [20]:
plt.plot(test_sp['timestamp'], test_sp['sum'])

In [22]:
sptimethresh=12
printing_delays_raw=scipy.signal.find_peaks(test_sp['sum'], height=(24, 30), distance=sptimethresh, width=1)
printing_delays_raw_df=pd.DataFrame({"sample_number":printing_delays_raw[0], "working_time":printing_delays_raw[1]['widths']})
cleaning_delays_raw=scipy.signal.find_peaks(test_sp['sum'], height=60, distance=sptimethresh, width=1)
cleaning_delays_raw_df=pd.DataFrame({"sample_number":cleaning_delays_raw[0], "working_time":cleaning_delays_raw[1]['widths']})

In [46]:
SP_events=pd.DataFrame({"timestamp":test_sp.iloc[printing_delays_raw_df.sample_number].timestamp, "event":1, "working_time":printing_delays_raw_df.working_time.tolist()})
cleanings=pd.DataFrame({"timestamp":test_sp.iloc[cleaning_delays_raw_df.sample_number].timestamp, "event":2, "working_time":cleaning_delays_raw_df.working_time.tolist()})
SP_events.append(cleanings)
SP_events.reset_index(inplace=True)

In [50]:
SP_events['energy']=0
SP_events

     index                  timestamp  event  working_time  energy
0    29474 2019-01-02 05:20:41.111115      1     16.586123       0
1    29511 2019-01-02 05:21:29.991422      1     12.435687       0
2    29619 2019-01-02 05:23:52.747297      1      4.672222       0
3    29653 2019-01-02 05:24:37.703624      1      8.347243       0
4    29669 2019-01-02 05:24:58.905420      1      7.631132       0
5    29739 2019-01-02 05:26:30.983379      1     16.717014       0
6    29803 2019-01-02 05:27:55.581802      1      8.315972       0
7    29838 2019-01-02 05:28:42.039630      1     12.395092       0
8    29990 2019-01-02 05:32:02.769066      1     12.865236       0
9    30093 2019-01-02 05:34:18.736451      1     13.865489       0
10   31488 2019-01-02 06:05:02.218920      1      6.976636       0
11   31589 2019-01-02 06:07:15.548520      1     15.230542       0
12   31703 2019-01-02 06:09:46.391418      1     19.720513       0
13   31806 2019-01-02 06:12:03.026856      1     14.016133       0
14   31901 2019-01-02 06:14:08.284226      1      6.359542       0
15   32009 2019-01-02 06:16:30.830947      1     14.766162       0
16   32111 2019-01-02 06:18:45.955332      1     16.597807       0
17   32213 2019-01-02 06:21:01.185737      1     12.550241       0
18   32312 2019-01-02 06:23:12.335219      1      9.811189       0
19   32429 2019-01-02 06:25:47.000184      1     12.736815       0
20   32522 2019-01-02 06:27:49.738513      1     16.027647       0
21   32625 2019-01-02 06:30:05.561044      1     13.736021       0
22   32725 2019-01-02 06:32:17.961933      1      3.666667       0
23   32827 2019-01-02 06:34:32.616162      1     14.592075       0
24   32957 2019-01-02 06:37:24.423847      1     14.719170       0
25   33059 2019-01-02 06:39:39.741303      1     12.789378       0
26   33158 2019-01-02 06:41:50.903203      1      7.171233       0
27   33260 2019-01-02 06:44:05.692210      1     15.158126       0
28   33368 2019-01-02 06:46:28.201668      1     13.123843       0
29   33471 2019-01-02 06:48:44.359551      1     13.417009       0
..     ...                        ...    ...           ...     ...
138  49890 2019-01-02 12:51:14.914102      1     14.955952       0
139  49970 2019-01-02 12:53:00.816876      1     16.414342       0
140  50057 2019-01-02 12:54:56.400479      1     12.792241       0
141  50141 2019-01-02 12:56:47.745174      1      7.626291       0
142  50225 2019-01-02 12:58:38.839323      1     13.086555       0
143  50446 2019-01-02 13:03:31.533575      1     13.598601       0
144  50786 2019-01-02 13:11:01.287404      1     12.731475       0
145  50874 2019-01-02 13:12:57.254682      1      7.708392       0
146  50954 2019-01-02 13:14:43.030682      1     14.395440       0
147  51043 2019-01-02 13:16:40.429509      1     13.203225       0
148  51122 2019-01-02 13:18:25.066858      1     17.239177       0
149  51360 2019-01-02 13:23:39.998649      1      6.953147       0
150  51388 2019-01-02 13:24:17.051653      1      6.631579       0
151  53431 2019-01-02 14:09:22.811790      1     11.883913       0
152  53451 2019-01-02 14:09:49.278052      1      3.232125       0
153  53519 2019-01-02 14:11:19.213509      1     14.976260       0
154  53602 2019-01-02 14:13:09.516479      1     15.734945       0
155  53796 2019-01-02 14:17:26.059410      1     17.635946       0
156  53913 2019-01-02 14:20:01.351735      1      6.701994       0
157  54018 2019-01-02 14:22:20.603356      1     16.091481       0
158  54127 2019-01-02 14:24:44.727396      1     17.755549       0
159  54206 2019-01-02 14:26:29.786455      1     13.369156       0
160  54308 2019-01-02 14:28:44.791609      1      9.696078       0
161  54362 2019-01-02 14:29:56.099073      1     13.790670       0
162  54417 2019-01-02 14:31:08.920057      1     25.007115       0
163  54496 2019-01-02 14:32:53.563537      1     17.865385       0
164  54718 2019-01-02 14:37:47.191476      1     20.955314       0
165  54763 2019-01-02 14:38:46.731271      1     12.643411       0
166  54825 2019-01-02 14:40:08.615529      1     13.436975       0
167  55153 2019-01-02 14:47:22.712228      1     50.014737       0

[168 rows x 5 columns]

In [52]:
for x, row in SP_events.iterrows():
    SP_events.ix[x,'energy']=test_sp.ix[int(printing_delays_raw[1]['left_ips'][x]):int(printing_delays_raw[1]['right_ips'][x]), 'data.A1'].sum()

/home/raghu/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated