In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import scipy.signal
import numpy as np
import seaborn as sns

In [ ]:
plt.rcParams["figure.figsize"]=[15,5]

In [ ]:
raw_pp=pd.read_csv('8to9pp1.csv', usecols=['timestamp', 'data.ax', 'data.az'])
raw_pp.sort_values(by=['timestamp'], inplace=True)
raw_pp.reset_index(inplace=True)
raw_pp.dropna(axis=0, inplace=True)
raw_pp['timestamp'] =  pd.to_datetime(raw_pp['timestamp'])

In [ ]:
raw_pp_current=pd.read_csv('8to9pp1.csv', usecols=['timestamp', 'data.A1', 'data.A2', 'data.A3'])
raw_pp_current.sort_values(by=['timestamp'])
raw_pp_current.reset_index(inplace=True)
raw_pp_current['total_current']=raw_pp_current['data.A1']+raw_pp_current['data.A2']+raw_pp_current['data.A3']
raw_pp_current['timestamp']=pd.to_datetime(raw_pp_current['timestamp'])
raw_pp_current.index=raw_pp_current['timestamp']

In [ ]:
#Load LD data and plot
raw_pp["acc"] = ( raw_pp["data.ax"]**2 + raw_pp["data.az"]**2) ** 0.5
acc=raw_pp[["timestamp", "acc"]]
test_pp=acc
# test_pp['acc_rolling_sum']=pd.Series.to_frame(test_pp.acc.rolling(100*10, center=True).sum())
test_pp['acc_rolling_std']=pd.Series.to_frame(test_pp.acc.rolling(100*2, center=True).std())

In [10]:
%matplotlib qt

In [ ]:
plt.plot(test_pp['timestamp'], test_pp['acc'])
plt.plot(test_pp['timestamp'], test_pp['acc_rolling_std'])

In [ ]:
test_pp['detections']=pd.Series.to_frame(test_pp.acc_rolling_std.rolling(100, center=True).sum())

In [ ]:
plt.plot(test_pp['timestamp'], test_pp['acc']*100)
plt.plot(test_pp['timestamp'], test_pp['detections'])

In [ ]:
# plt.plot(test_pp['timestamp'], test_pp['detections'])

In [ ]:
test_pp['boards']=0
test_pp['boards'][test_pp['detections']>=2]=1

In [ ]:
plt.plot(test_pp['timestamp'], test_pp['acc']*100)
plt.plot(test_pp["timestamp"],test_pp["boards"])

In [ ]:
working_times_raw=scipy.signal.find_peaks(test_pp.boards, width=1)

In [ ]:
working_times_raw_df=pd.DataFrame({"sample_number":working_times_raw[0], "working_time":working_times_raw[1]['widths']/72})

In [ ]:
test_pp['boards']=test_pp['boards']*-1
idle_times_raw=scipy.signal.find_peaks(test_pp.boards, width=1)
idle_times_raw_df=pd.DataFrame({"sample_number":idle_times_raw[0], "working_time":idle_times_raw[1]['widths']/72})
test_pp['boards']=test_pp['boards']*-1

In [ ]:
for x, row in working_times_raw_df.iterrows():
    working_times_raw_df.ix[x,'start_time']=test_pp.iloc[int(working_times_raw[1]['left_ips'][x])].timestamp
    working_times_raw_df.ix[x,'end_time']=test_pp.iloc[int(working_times_raw[1]['right_ips'][x])].timestamp
    working_times_raw_df.ix[x,'timestamp']=test_pp.iloc[int(working_times_raw[0][x])].timestamp

In [ ]:

for x, row in idle_times_raw_df.iterrows():
    idle_times_raw_df.ix[x,'start_time']=test_pp.iloc[int(idle_times_raw[1]['left_ips'][x])].timestamp
    idle_times_raw_df.ix[x,'end_time']=test_pp.iloc[int(idle_times_raw[1]['right_ips'][x])].timestamp
    idle_times_raw_df.ix[x,'timestamp']=test_pp.iloc[int(idle_times_raw[0][x])].timestamp

In [ ]:
working_times_df=working_times_raw_df[working_times_raw_df.working_time>10]

In [ ]:
working_times_df['event']=1
idle_times_raw_df['event']=0

In [ ]:
# working_times_df['energy']=raw_pp_current[(raw_pp_current['timestamp'] <= working_times_df['end_time']) & (raw_pp_current['timestamp'] >= working_times_df['start_time'])]['total_current'].sum()*230

In [ ]:
working_times_df['energy'] = working_times_df.apply(lambda x: raw_pp_current.loc[(raw_pp_current.timestamp <= x.end_time) & 
                                                            (x.start_time <= raw_pp_current.timestamp),
                                                            ['total_current']].sum()*230/3600000, axis=1)

In [ ]:
# for index, x in enumerate(working_times_raw[0]):
#     working_times_raw_df.ix[index,'energy']=np.trapz(raw_pp_current.ix[int(working_times_raw[1]['left_ips'][index]):int(working_times_raw[1]['right_ips'][index]), 'data.A1'].tolist())
# working_times_raw_df['energy']=working_times_raw_df['energy']*230/3600000

In [ ]:
idle_times_raw_df['energy'] = idle_times_raw_df.apply(lambda x: raw_pp_current.loc[(raw_pp_current.timestamp <= x.end_time) & 
                                                            (x.start_time <= raw_pp_current.timestamp),
                                                            ['total_current']].sum()*230/3600000, axis=1)

In [ ]:
# for index, x in enumerate(idle_times_raw[0]):
#     idle_times_raw_df.ix[index,'energy']=np.trapz(raw_pp_current.ix[int(idle_times_raw[1]['left_ips'][index]):int(idle_times_raw[1]['right_ips'][index]), 'data.A1'].tolist(), dx=1)
# idle_times_raw_df['energy']=idle_times_raw_df['energy']*230/3600000

In [ ]:
working_times_df.index=working_times_df.timestamp
working_times_df.drop('timestamp', axis=1, inplace=True)
# working_times_df.drop('sample_number', axis=1, inplace=True)

In [ ]:
idle_times_raw_df.index=idle_times_raw_df.timestamp
idle_times_raw_df.drop('timestamp', axis=1, inplace=True)
# idle_times_raw_df.drop('sample_number', axis=1, inplace=True)

In [ ]:
# plt.plot(test_pp["timestamp"],test_pp["boards"])
# plt.plot(raw_pp_current.timestamp, raw_pp_current['total_current'])

In [ ]:
PP_events=working_times_df[['event', 'working_time', 'energy']]

In [ ]:
idle_times_df=idle_times_raw_df[['event', 'working_time', 'energy']]
PP_events=PP_events.append(idle_times_df)

In [ ]:
# sns.distplot(PP_events[PP_events.event==1].working_time)
# plt.title('PP1 Working Times Histogram')

In [ ]:
# print('PP working time mode: ', PP_events[PP_events.event==1].working_time.mode().mean())

In [ ]:
# sum(raw_pp_current.total_current.tolist())

In [ ]:
# PP_events.loc[PP_events.event==0, 'energy']

In [ ]:
plt.plot(test_pp.timestamp, test_pp.acc)

In [ ]:
PP_events.sort_values(by=['timestamp'], inplace=True)

In [ ]:
# plt.plot(PP_events.index, PP_events.event)
plt.plot(test_pp["timestamp"],test_pp["boards"])

In [ ]:
# PP_events[PP_events.event==0]

In [ ]:
# plt.plot(raw_pp_current.timestamp,raw_pp_current.total_current)

In [ ]:
plt.stem(idle_times_df.index, idle_times_df.event)

In [ ]:
# sns.distplot(idle_times_df.power)

In [ ]:
# working_times_df['power']=working_times_df['energy']*3600000/working_times_df['working_time']

In [ ]:
#sns.distplot(PP_events[PP_events.event==1].working_time, bins=50)

In [ ]:
PPdist=PP_events[PP_events.event==1]

In [ ]:
PPdist

In [ ]:
PPdist=PPdist[PPdist.working_time < np.percentile(PPdist.working_time,95)]

In [ ]:
print(PPdist.working_time.max())
print(PPdist.working_time.min())

In [ ]:
binnum=int(round((PPdist.working_time.max()-PPdist.working_time.min())/5))
binnum

In [ ]:
sns.distplot(PP_events[PP_events.event==1].working_time, bins=binnum)

In [ ]:
modeWT=pd.cut(PPdist[PPdist.event==1]["working_time"], bins=binnum).value_counts().idxmax().mid

In [ ]:
modeWT

In [ ]:
test_pp['event']=0
for index, row in working_times_df.iterrows():
#     test_pp2.ix[int(row.left_ips):int(row.right_ips), 'event']=1
    test_pp.loc[(test_pp.timestamp <= row.end_time) & (row.start_time <= test_pp.timestamp), ['event']]=1

In [ ]:
# statistics.mode(PP_events[PP_events.event==1].working_time.tolist(), bins=10)

In [12]:
plt.plot(test_pp.timestamp, test_pp.acc)
plt.plot(test_pp.timestamp, test_pp.event*0.3)

In [15]:
PP_events

    index                  timestamp  event  working_time    energy
0       0 2019-01-22 08:00:07.622247      1     10.722222  0.003296
1       1 2019-01-22 08:00:12.896023      0      0.472222  0.000000
2       2 2019-01-22 08:00:56.016659      1     86.638889  0.025846
3       3 2019-01-22 08:01:39.269395      0      1.541667  0.000273
4       4 2019-01-22 08:03:05.710064      1    174.000000  0.054113
5       5 2019-01-22 08:04:45.020863      0     26.847222  0.006039
6       6 2019-01-22 08:05:08.694520      1     21.513889  0.005712
7       7 2019-01-22 08:05:43.474486      0     48.263889  0.011183
8       8 2019-01-22 08:06:38.331404      1     63.750000  0.018618
9       9 2019-01-22 08:07:10.330807      0      1.152778  0.000286
10     10 2019-01-22 08:07:52.448804      1     84.180556  0.027512
11     11 2019-01-22 08:09:33.755636      0    120.763889  0.020625
12     12 2019-01-22 08:10:38.768677      0      6.611111  0.001589
13     13 2019-01-22 08:11:29.081089      1     94.930556  0.029446
14     14 2019-01-22 08:12:16.520661      0      1.527778  0.000775
15     15 2019-01-22 08:12:59.791397      1     85.944444  0.026879
16     16 2019-01-22 08:13:42.979799      0      1.763889  0.000577
17     17 2019-01-22 08:14:26.313486      1     85.930556  0.026610
18     18 2019-01-22 08:15:09.442232      0      1.180556  0.000264
19     19 2019-01-22 08:15:57.847983      1     96.847222  0.030968
20     20 2019-01-22 08:16:53.211746      0     15.333333  0.002941
21     21 2019-01-22 08:17:39.513798      1     77.972222  0.023799
22     22 2019-01-22 08:18:18.517119      0      1.750000  0.000286
23     23 2019-01-22 08:19:01.675641      1     86.083333  0.026633
24     24 2019-01-22 08:19:45.672012      0      2.069444  0.000275
25     25 2019-01-22 08:20:28.121275      1     85.125000  0.027074
26     26 2019-01-22 08:21:28.598664      0     37.347222  0.007394
27     27 2019-01-22 08:21:52.560979      0      6.041667  0.001343
28     28 2019-01-22 08:22:38.868670      1     87.902778  0.029040
29     29 2019-01-22 08:23:23.015019      0      1.555556  0.000284
30     30 2019-01-22 08:24:06.192726      1     85.097222  0.027985
31     31 2019-01-22 08:24:49.589742      0      2.291667  0.000589
32     32 2019-01-22 08:25:32.884766      1     85.972222  0.026534
33     33 2019-01-22 08:26:16.104684      0      1.444444  0.000265
34     34 2019-01-22 08:27:43.227986      1    174.611111  0.052425
35     35 2019-01-22 08:29:09.831062      0      1.694444  0.000544
36     36 2019-01-22 08:29:53.232840      1     86.041667  0.028974
37     37 2019-01-22 08:30:36.917473      0      1.625000  0.000268
38     38 2019-01-22 08:31:20.073768      1     86.000000  0.026667
39     39 2019-01-22 08:32:03.143098      0      1.416667  0.000298
40     40 2019-01-22 08:33:29.815334      1    173.819444  0.055005
41     41 2019-01-22 08:34:56.683947      0      1.694444  0.000436
42     42 2019-01-22 08:35:40.051012      1     85.236111  0.028546
43     43 2019-01-22 08:36:22.941833      0      1.069444  0.000279
44     44 2019-01-22 08:37:06.183161      1     85.111111  0.025902
45     45 2019-01-22 08:37:49.248714      0      0.444444  0.000275
46     46 2019-01-22 08:39:16.110974      1    174.875000  0.053473
47     47 2019-01-22 08:41:58.870360      0    156.069444  0.029814
48     48 2019-01-22 08:43:54.529309      1     78.222222  0.025166
49     49 2019-01-22 08:48:46.842046      0    512.069444  0.103460
50     50 2019-01-22 08:53:17.068939      1     35.527778  0.012180
51     51 2019-01-22 08:53:50.844034      0     32.388889  0.006710
52     52 2019-01-22 08:54:12.598615      1     12.513889  0.003225
53     53 2019-01-22 08:54:27.829015      0     17.930556  0.003495
54     54 2019-01-22 08:54:53.433905      1     33.652778  0.010769

In [ ]:
PP_boardevents=PP_events[PP_events.event==1]

In [ ]:
tempdf=PP_boardevents[1:1]
tempdf['nmodes']=0
flagsdf=PP_boardevents[1:1]
flagsdf['flagid']=0

In [ ]:
# import dill
# dill.dump_session('modeTest.db')

In [1]:
import dill
dill.load_session('modeTest.db')

In [2]:
# PP_boardevents

In [3]:
for i, row in PP_boardevents.iterrows():
    nmodes=row.working_time/modeWT
    frac=nmodes%1
    nmodes=np.floor(nmodes)
    if (1-frac) <= .15:
        nmodes=np.floor(nmodes)+1
    
    elif (not (frac <= .15)) or nmodes==0.0:
        tseries=row
        tseries=tseries.append(pd.Series([1], index=['flagid']))
        flagsdf=flagsdf.append(tseries, ignore_index=True)
        continue
    
    if nmodes==1.0:
        continue
        
    tseries=row
    tseries=tseries.append(pd.Series([nmodes], index=['nmodes']))
    tempdf=tempdf.append(tseries, ignore_index=True)
    PP_boardevents.drop(i, inplace=True)

In [4]:
# plt.stem(tempdf.index, tempdf.event)

In [5]:
tempdf

                   timestamp  event  working_time    energy  nmodes
0 2019-01-22 08:03:05.710064      1    174.000000  0.054113     2.0
1 2019-01-22 08:27:43.227986      1    174.611111  0.052425     2.0
2 2019-01-22 08:33:29.815334      1    173.819444  0.055005     2.0
3 2019-01-22 08:39:16.110974      1    174.875000  0.053473     2.0

In [6]:
# flagsdf

In [7]:
# PP_boardevents=PP_boardevents.reset_index()
PP_boardeventsSplit=PP_boardevents
PP_boardevents.reset_index()

    index                  timestamp  event  working_time    energy
0       0 2019-01-22 08:00:07.622247      1     10.722222  0.003296
1       2 2019-01-22 08:00:56.016659      1     86.638889  0.025846
2       6 2019-01-22 08:05:08.694520      1     21.513889  0.005712
3       8 2019-01-22 08:06:38.331404      1     63.750000  0.018618
4      10 2019-01-22 08:07:52.448804      1     84.180556  0.027512
5      13 2019-01-22 08:11:29.081089      1     94.930556  0.029446
6      15 2019-01-22 08:12:59.791397      1     85.944444  0.026879
7      17 2019-01-22 08:14:26.313486      1     85.930556  0.026610
8      19 2019-01-22 08:15:57.847983      1     96.847222  0.030968
9      21 2019-01-22 08:17:39.513798      1     77.972222  0.023799
10     23 2019-01-22 08:19:01.675641      1     86.083333  0.026633
11     25 2019-01-22 08:20:28.121275      1     85.125000  0.027074
12     28 2019-01-22 08:22:38.868670      1     87.902778  0.029040
13     30 2019-01-22 08:24:06.192726      1     85.097222  0.027985
14     32 2019-01-22 08:25:32.884766      1     85.972222  0.026534
15     36 2019-01-22 08:29:53.232840      1     86.041667  0.028974
16     38 2019-01-22 08:31:20.073768      1     86.000000  0.026667
17     42 2019-01-22 08:35:40.051012      1     85.236111  0.028546
18     44 2019-01-22 08:37:06.183161      1     85.111111  0.025902
19     48 2019-01-22 08:43:54.529309      1     78.222222  0.025166
20     50 2019-01-22 08:53:17.068939      1     35.527778  0.012180
21     52 2019-01-22 08:54:12.598615      1     12.513889  0.003225
22     54 2019-01-22 08:54:53.433905      1     33.652778  0.010769

In [8]:
for i, row in tempdf.iterrows():
    nmodes=int(row.nmodes)
    wt=row.working_time/nmodes
    en=row.energy/nmodes
    if nmodes%2==0:
        for n in range(0, int(nmodes/2)):
            ts1=row.timestamp-pd.to_timedelta(0.5*(2*n+1)*wt, unit='s')
            ts2=row.timestamp+pd.to_timedelta(0.5*(2*n+1)*wt, unit='s')
            print(n)
            PP_boardeventsSplit=PP_boardeventsSplit.append({"timestamp":ts1, "event":1, "working_time":wt, "energy":en}, ignore_index=True)
            PP_boardeventsSplit=PP_boardeventsSplit.append({"timestamp":ts2, "event":1, "working_time":wt, "energy":en}, ignore_index=True)
    else:
        PP_boardevents=PP_boardeventsSplit.append({"timestamp":row.timestamp, "event":1, "working_time":wt, "energy":en}, ignore_index==True)
        for n in range(0, int(nmodes/2)):
            ts1=row.timestamp-pd.to_timedelta(0.5*(2*n+2)*wt, unit='s')
            ts2=row.timestamp+pd.to_timedelta(0.5*(2*n+2)*wt, unit='s')
            PP_boardeventsSplit=PP_boardeventsSplit.append({"timestamp":ts1, "event":1, "working_time":wt, "energy":en}, ignore_index=True)
            PP_boardeventsSplit=PP_boardeventsSplit.append({"timestamp":ts2, "event":1, "working_time":wt, "energy":en}, ignore_index=True)

0
0
0
0

In [9]:
PP_boardeventsSplit

                       timestamp  event  working_time    energy
0  2019-01-22 08:00:07.622247000      1     10.722222  0.003296
1  2019-01-22 08:00:56.016659000      1     86.638889  0.025846
2  2019-01-22 08:05:08.694520000      1     21.513889  0.005712
3  2019-01-22 08:06:38.331404000      1     63.750000  0.018618
4  2019-01-22 08:07:52.448804000      1     84.180556  0.027512
5  2019-01-22 08:11:29.081089000      1     94.930556  0.029446
6  2019-01-22 08:12:59.791397000      1     85.944444  0.026879
7  2019-01-22 08:14:26.313486000      1     85.930556  0.026610
8  2019-01-22 08:15:57.847983000      1     96.847222  0.030968
9  2019-01-22 08:17:39.513798000      1     77.972222  0.023799
10 2019-01-22 08:19:01.675641000      1     86.083333  0.026633
11 2019-01-22 08:20:28.121275000      1     85.125000  0.027074
12 2019-01-22 08:22:38.868670000      1     87.902778  0.029040
13 2019-01-22 08:24:06.192726000      1     85.097222  0.027985
14 2019-01-22 08:25:32.884766000      1     85.972222  0.026534
15 2019-01-22 08:29:53.232840000      1     86.041667  0.028974
16 2019-01-22 08:31:20.073768000      1     86.000000  0.026667
17 2019-01-22 08:35:40.051012000      1     85.236111  0.028546
18 2019-01-22 08:37:06.183161000      1     85.111111  0.025902
19 2019-01-22 08:43:54.529309000      1     78.222222  0.025166
20 2019-01-22 08:53:17.068939000      1     35.527778  0.012180
21 2019-01-22 08:54:12.598615000      1     12.513889  0.003225
22 2019-01-22 08:54:53.433905000      1     33.652778  0.010769
23 2019-01-22 08:02:22.210064000      1     87.000000  0.027056
24 2019-01-22 08:03:49.210064000      1     87.000000  0.027056
25 2019-01-22 08:26:59.575208222      1     87.305556  0.026213
26 2019-01-22 08:28:26.880763778      1     87.305556  0.026213
27 2019-01-22 08:32:46.360472889      1     86.909722  0.027502
28 2019-01-22 08:34:13.270195111      1     86.909722  0.027502
29 2019-01-22 08:38:32.392224000      1     87.437500  0.026737
30 2019-01-22 08:39:59.829724000      1     87.437500  0.026737

In [20]:
plt.plot(test_pp.timestamp, test_pp.acc)
plt.plot(test_pp.timestamp, test_pp.event*0.3)

In [21]:
plt.stem(PP_boardeventsSplit.timestamp, PP_boardeventsSplit.event*0.6)