In [31]:
import pandas as pd
import matplotlib.pyplot as plt
import scipy.signal
import numpy as np
import seaborn as sns

In [34]:
plt.rcParams["figure.figsize"]=[15,5]

In [13]:
raw_ld=pd.read_csv('loader_jan.csv', usecols=['timestamp', 'data.ax', 'data.az'])
raw_ld.sort_values(by=['timestamp'], inplace=True)
raw_ld.reset_index(inplace=True)
raw_ld.dropna(axis=1, inplace=True)

In [4]:
#Load LD data and plot
raw_ld["acc"] = ( raw_ld["data.ax"]**2 + raw_ld["data.az"]**2 ) ** 0.5
acc=raw_ld[["timestamp", "acc"]]
acc.set_index('timestamp')
test_ld=acc
test_ld['acc']=pd.Series.to_frame(test_ld.acc.rolling(100, center=True).std())

/home/raghu/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [5]:
test_ld['timestamp'] =  pd.to_datetime(test_ld['timestamp'])

/home/raghu/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [6]:
timethresh=12
test_ld.insert(2,'state',0)

In [7]:
%matplotlib qt

In [8]:
plt.plot(test_ld['timestamp'], test_ld['acc'])

In [9]:
#Get boards from Loader
board=scipy.signal.find_peaks(test_ld.acc, height=(0.01), distance=timethresh*72, width=1)
differ=np.diff(board[0])
differ=differ.tolist()

# boards=[]
# boards.append(board[0][0])
# sumdiffer=0
# for i, x in enumerate(board[0]):
#     try:
#         sumdiffer+=differ[i]
#         if sumdiffer>timethresh*100:
#             boards.append(board[0][i])
#             test_ld.at[x, 'state']=1
#             sumdiffer=0
#         if differ[i] < timethresh*100:
#             test_ld.at[x, 'state']=2
#     except:
#         continue
for x in board[0]:
    test_ld.at[x, 'state'] = 1

ld_boards=test_ld[test_ld['state']==1]
print('Boards detected in LD:', ld_boards.shape[0])

Boards detected in LD: 255

In [12]:
fig, ax1 = plt.subplots()

ax1.stem(ld_boards['timestamp'], ld_boards['state'], 'orange')

# ax1.xaxis.set_major_locator(mdates.DateFormatter('%H:%M'))

ax1.set_xlabel('Time')

ax2 = ax1.twinx()

ax2.plot(test_ld['timestamp'], test_ld['acc'], 'blue')

plt.title('Board Detections')

Text(0.5, 1.0, 'Board Detections')

In [17]:
loading_delays_rawdf=pd.DataFrame({"sample_number":board[0], "working_time":board[1]['widths']/72})

In [27]:
LD_events=pd.DataFrame({"timestamp":test_ld.iloc[loading_delays_rawdf.sample_number].timestamp, "event":1, "working_time":(loading_delays_rawdf.working_time).tolist()})

In [28]:
LD_events.index=LD_events.timestamp
LD_events.drop('timestamp', axis=1, inplace=True)
LD_events['energy']=float('nan')

In [29]:
LD_events

                            event  working_time  energy
timestamp
2019-01-01 20:04:05.182794      1      1.553949     NaN
2019-01-01 21:05:05.499323      1      1.711204     NaN
2019-01-02 02:58:51.610204      1      1.602323     NaN
2019-01-02 03:25:07.605975      1      5.079558     NaN
2019-01-02 03:32:27.623615      1      1.625135     NaN
2019-01-02 03:47:48.404054      1      2.537517     NaN
2019-01-02 03:49:31.750131      1      1.846200     NaN
2019-01-02 04:16:22.912521      1      1.718117     NaN
2019-01-02 05:11:38.469365      1      1.603275     NaN
2019-01-02 05:15:24.714579      1      1.615586     NaN
2019-01-02 05:17:57.232513      1      1.837996     NaN
2019-01-02 05:18:12.993908      1      1.535547     NaN
2019-01-02 05:18:38.303696      1      2.210684     NaN
2019-01-02 05:19:02.755834      1      1.612922     NaN
2019-01-02 05:19:21.303698      1      1.554008     NaN
2019-01-02 05:20:01.713818      1      2.678319     NaN
2019-01-02 05:20:22.331497      1      1.584290     NaN
2019-01-02 05:20:34.690109      1      1.810988     NaN
2019-01-02 05:21:29.352893      1      1.699401     NaN
2019-01-02 05:21:52.761951      1      1.668366     NaN
2019-01-02 05:23:46.690798      1      1.629859     NaN
2019-01-02 05:24:31.126977      1      1.734359     NaN
2019-01-02 05:24:59.075174      1      1.890021     NaN
2019-01-02 05:26:25.203039      1      1.689316     NaN
2019-01-02 05:27:50.156575      1      1.983648     NaN
2019-01-02 05:28:41.933796      1      1.685129     NaN
2019-01-02 05:31:56.087962      1      1.897635     NaN
2019-01-02 05:34:12.036399      1      1.617308     NaN
2019-01-02 05:34:28.373635      1      1.666249     NaN
2019-01-02 05:39:15.487972      1      1.804471     NaN
...                           ...           ...     ...
2019-01-02 15:23:20.093181      1      1.860731     NaN
2019-01-02 15:23:41.947901      1      1.910313     NaN
2019-01-02 15:26:05.940033      1      1.829898     NaN
2019-01-02 15:27:00.569203      1      2.034720     NaN
2019-01-02 15:27:24.522451      1      1.822121     NaN
2019-01-02 15:29:58.702412      1      1.528895     NaN
2019-01-02 15:31:09.033305      1      1.714964     NaN
2019-01-02 15:31:35.831103      1      1.845895     NaN
2019-01-02 15:32:34.285776      1      1.732871     NaN
2019-01-02 15:32:47.633071      1      1.469894     NaN
2019-01-02 15:33:11.344012      1      1.606392     NaN
2019-01-02 15:33:50.491259      1      1.678130     NaN
2019-01-02 15:34:54.483958      1      1.762191     NaN
2019-01-02 15:35:08.727455      1      1.485555     NaN
2019-01-02 15:37:13.856339      1      1.693627     NaN
2019-01-02 15:37:25.545542      1      2.145756     NaN
2019-01-02 15:38:12.054735      1      1.587560     NaN
2019-01-02 15:38:26.276712      1      1.645736     NaN
2019-01-02 15:38:52.039250      1      1.874372     NaN
2019-01-02 15:39:07.425652      1      1.723784     NaN
2019-01-02 15:39:33.128385      1      1.854361     NaN
2019-01-02 15:39:47.970954      1      4.395531     NaN
2019-01-02 15:40:22.673810      1      1.768598     NaN
2019-01-02 15:41:42.878678      1      1.571412     NaN
2019-01-02 15:42:15.943889      1      1.553088     NaN
2019-01-02 15:43:27.215468      1      1.796574     NaN
2019-01-02 16:00:40.236639      1      1.607155     NaN
2019-01-02 16:01:10.868255      1      3.198570     NaN
2019-01-02 16:20:03.442490      1      1.562061     NaN
2019-01-02 16:26:12.020321      1      1.568583     NaN

[255 rows x 3 columns]

In [37]:
sns.distplot(LD_events.working_time)
plt.title('Loader Loading Times Histogram')

Text(0.5, 1.0, 'Loader Loading Times Histogram')

In [38]:
print('LD loading time mode: ', LD_events.working_time.mode().mean())

LD loading time mode:  1.8217679441565062